nav {
    padding: 10px;
    background-color: black;
}
.fundopreto {
    background-color: black;
}
img {
    width: 200px;
    padding: 20px;
    align-self: center;
}
#box-logo {
    height: 200px;
    display: flex;
    justify-content: center;
}
#divfooter {
    display: flex;
    justify-items: center;
}